@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
	background-color: #1a2634 !important;
}

body {
	background-color: #1a2634 !important
}

.title,
.subtitle {
	color: white !important;
}

p {
	color: black;
}

.serverbox {
	background-color: #0e141b;
}

.mainbox {
	background-color: #2b3e55;
}

.container.user {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	padding-top: 100px;
	height: auto;
}

.user-avatar,
.user-details {
	display: inline-block;
}

.user-avatar {
	text-align: center;
}

.container.servers {
	width: auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #181a20;
	border-radius: 10px;
	max-width: 1000px !important;
	min-width: 100px;
}

.top-text {
	color: white;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	font-size: 40px;
	margin-bottom: 20px;
}

.server-grid {
	width: 100vw;
	row-gap: 20px;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	padding: 10px;
}

.server {
	width: auto;
	font-size: 30px;
	text-align: center;
}

.server-icon {
	display: inline-block;
	padding: 10px;
}

.guild-icon {
	width: 128px !important;
	height: 128px !important;
}

.server-info p {
	color: white;
	font-size: 20px;
}

.lazyload-wrapper {
	width: 128px;
	height: 128px;
	overflow: hidden;
	border-radius: 50%;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user-details {
	text-align: center;
	margin-left: 1em;
}

@media (max-width: 767px) {
	.server-grid {
		grid-template-columns: auto auto;
	}
}

@media (max-width: 506px) {
	.server-grid {
		grid-template-columns: auto;
	}
}