body {
	margin-left: 250px !important;
}

.sidebar {
	overflow: auto;
	color: #fff;
	width: 250px;
	height: 100vh;
	position: fixed;
	left: 0;
	padding-left: 0.75rem;
	padding-right: 1.5rem;
	border-right: 1px solid #34495e;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	z-index: 9999;
}

.sidebar-header {
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar-logo {
	border-radius: 50%;
	border: 3px solid #3d566e;
	width: 64px;
	height: 64px;
}

.bot-img {
	margin-right: 10px;
}

.bot-name {
	text-align: center;
}

.menu-label {
	font-size: 0.875rem;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px;
}

.menu-list button {
	all: unset;
	cursor: pointer;
	width: 100%;
	color: white;
	font-size: 0.9375rem;
	display: block;
	padding: 0.5rem 0;
	transition: all 0.2s ease-in-out;
}

.menu-list a:hover {
	background-color: #1a2634;
	color: #4488e7;
}

.menu-list a:hover span.text {
	color: white;
}

.menu-li {
	margin: 10px;
	margin-left: 30px;
}

.menu-list span.text {
	transition: all 0.2s ease-in-out;
	color: #bcc2d2;
}

.menu-list a {
	transition: all 0.2s ease-in-out;
	color: #34495e;
	font-size: 20px;
	padding: 16px;
}