body {
	color: #5D5F63;
	background: #293949;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
	place-items: center;
	justify-content: center;
	align-items: center;
	-webkit-font-smoothing: antialiased;
}

main {
	width: 60%;
	height: 100%;
	margin-top: 57px;
	padding: 10px;
	margin: auto;
}

.match-background {
	background-color: #181a20;
}

.container.server-info {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
	padding-top: 60px;
	height: auto;
}

.server-avatar,
.server-details {
	display: inline-block;
}

.server-details {
	margin-left: 10px;
}

.server-avatar {
	width: 100px;
	height: 100px;
	text-align: center;
}

/* .div-container {
	row-gap: 20px;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));


}

.div {
	padding: 28px;
	background-color: #181a20;
	width: 50%;
} */