include ../app

head
	title= config.appName

	link(rel='stylesheet' href='/public/css/manage/manageSidebar.css')
	script(defer src='/public/js/manage/manageSidebar.js')

// Sidebar start

aside.sidebar
	.sidebar-header
		.bot-img.is-inline-block
			img.sidebar-logo(alt='Logo' name='Logo-img' src=`https://cdn.discordapp.com/avatars/966634522106036265/24f34ce68c53b1969494cdce8056e8c8.webp?size=128`)
		.bot-name.is-inline-block
			h3.title.is-5.is-white Boolean

	.menu
		ul.menu-list
			li
				a.is-nav(href='./')
					span.nav-icon.is-link
						i.fas.fa-cog
					span.text.is-white  Dashboard
			li
				a.is-nav(href='./modules')
					span.nav-icon.is-link
						i.fa-solid.fa-wrench
					span.text.is-white  Modules
			li
				a.is-nav(href='./commands')
					span.nav-icon.is-link
						i.fa-solid.fa-sliders
					span.text.is-white  Commands