footer.footer.footer-base.mt-auto
	.content.has-text-centered.has-text-white
		.mb-2
			a.has-text-white(href=config.discordInvite target='_blank')
				i.fa-brands.fa-discord
			//- a.has-text-white(href=githubLink target='_blank')
			//- 	i.fa-brands.fa-github
		p.footer-text
			span.has-text-weight-bold #{appName}
			br.has-text-white
			|           &copy; 
			span#cp-year
			|  Copyright #{appName}. All Rights Reserved.